
01_Cuestionario_Penales_0302.pdf
01_PENALES_CARATULA.sav
Diccionario_Datos_01_PENALES_CARATULA.pdf
.Rhistory
01_PENALES_CAP100.sav
512-Modulo861.zip
Diccionario_Datos_01_PENALES_CAP100.pdf
CAP_200_URBANO_RURAL_4.csv
Tarea2.Rmd
T2_Mosqueira_Palacios_Quispe.Rmd
Tarea2.html
Tarea2.Rmd
